#touch {
  display:inline-block;
  width:250px;
  height:250px;

  border: 2px solid #aaa;
  margin:10px 10px;
  
  font-size: 12px;

  vertical-align: middle;
  
  text-decoration: none;
}

.tap-active {
  background-color:red;
}
